@font-face {
font-family: Futura PT;
src: url(../font/FuturaPTMedium.otf);
}

body{
  font-family: Futura PT !important;
  background-image: url(../background/wood-wall.jpg);
  background-size: cover;
  background-repeat: no-repeat
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  padding-top: 65px;
}

.nav{
  font-size: 1.5em;
  white-space: nowrap;
}

.nav > li {
  display: inline;
}
.nav > li > a{
  display: inline;
}

.fifty{
  height: 50px;
}

.vert{
  margin-top: 12px;
}

.navbar-right {
  float: right!important;
  margin-right: -10px;
}

 div h1{
   color: white;
}

 div p{
   color: white;
   font-size: 20px;
   font-weight: 100;
 }

 .page-header{
   padding-top: 10px;
 }
