  @font-face {
  font-family: Futura PT;
  src: url(../font/FuturaPTMedium.otf);
  }

  body{
    font-family: Futura PT !important;
    background-image: url(../background/wood-wall.jpg);
    background-size: cover;
    background-repeat: no-repeat
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    padding-top: 65px;
  }

  .jumbotron{
    width: 100%;
    background-color: transparent !important;
    color: white;
    position: absolute;
    top: 50%;
    left:50%;
    transform: translate(-50%,-50%);
  }

  .btn{
    background-color: transparent !important;
    font-weight: lighter;
    color: white;
  }

  .nav{
    font-size: 1.5em;
    white-space: nowrap;
  }

  .navbar-default{
    background-color: rgba(248, 248, 248, 0.1);
    border-color: rgba(231, 231, 231, 0.1);
  }

  .nav > li {
    display: inline;
  }
  .nav > li > a{
    display: inline;
    color: white !important;
  }

  form{
    color: white;
    border-style: solid;
    padding: 50px;
    border-radius: 10px;
  }

  input:focus, textarea:focus {
      border: 1px solid #97d6eb;
  }

  #button{
    color: white;
    margin-top: 20px;
    border-radius: 10px;
    background-color: transparent;
    border: 2px solid;
    border-color: white;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    width: 100px;
    font-size: 30px;
  }

  #button:hover{
    color: black;
    border-color: black;
  }

  label{
    font-size: 15px;
  }

  .fifty{
    height: 50px;
  }

  .vert{
    margin-top: 12px;
  }

  .navbar-right {
    float: right!important;
    margin-right: -10px;
}
