@font-face {
font-family: Futura PT;
src: url(../font/FuturaPTMedium.otf);
}

body{
  font-family: Futura PT !important;
  background-image: url(../background/wood-wall.jpg);
  background-size: cover;
  background-repeat: no-repeat
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  padding-top: 65px;
}

.jumbotron{
  width: 100%;
  background-color: transparent !important;
  color: white;
  position: absolute;
  top: 50%;
  left:50%;
  transform: translate(-50%,20%);
}

h1{
  display: inline-block;
  color: white;
  font-style: italic;
}

#trans{
  background-color: transparent !important;
  background: transparent !important;
  border-style: solid;
  border-color: white;
  border-width: thin;
  border-radius: 10px;
}

#trans:hover{
  background-color: transparent !important;
  background: transparent !important;
  border-style: solid;
  border-width: thick;
  border-color: white;
  border-radius: 10px;
}

.nav{
  font-size: 1.5em;
  white-space: nowrap;
}

.navbar-default{
  background-color: rgba(248, 248, 248, 0.1);
  border-color: rgba(231, 231, 231, 0.1);
}

.nav > li {
  display: inline;
}
.nav > li > a{
  display: inline;
  color: white !important;
}

.fifty{
  height: 50px;
}

.vert{
  margin-top: 12px;
}

.navbar-right {
  float: right!important;
  margin-right: -10px;
}
