h1 {
  color: black;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  text-shadow: 0.25px 0.25px 0.25px #000000;
  font-weight: 700;

}
body{
  background-image: url("desktop/background.jpg")
}
