  body{

    font-family: Futura PT !important;
    background-color: lightblue !important;


  }

  ul{
    font-size: 20px;
  }


  .col-sm-8{
    margin-top: 10px;
    
  }

  #margin-jumbotron{
    margin-top: 20px;
  }

  .jumbotron{
    background-color: lightblue !important;
  }


  .navbar-header{

  }

  #footer-text-color{
    color: white;
  }
